<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen">
	<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" type="text/css" media="screen">
	<script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js'  %}"></script>
    {% block vendor %}
    {% endblock %}
</head>

<body>
    {% block content %}
    {% endblock %}
</body>
</html>