{% load static %}
<link rel="stylesheet" href="{% static 'css/app/partials/navbar.css' %}"  type="text/css" media="screen">
<nav class="navbar shadow sticky-top navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'app:index' %}">
            <img src="{%static 'assets/logo/logo.jpg' %}" class="img-fluid" width="50" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:index' %}"><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:about' %}"><b>About</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:services' %}"><b>Services</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:contact' %}"><b>Contact</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>